.dragDropZone {
  display: flex;
}

.column {
  background: var(--color-light-blue);
  border-radius: 20px;
  padding: var(--gutter);
  width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.dropZone {
  flex-grow: 1;
}

.column + .column {
  margin-left: var(--gutter);
}

.draggableCard + .draggableCard {
  margin-top: var(--gutter);
}
