/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../resources/fonts/font.css';

html {
  --color-text: #222;
  --color-background: #e9e9e9;
  --color-primary: rebeccapurple;
  --normal-definition: 478;
  --bold-definition: 639;
  --gutter: 16px;
}

body {
  position: relative;
  color: var(--color-text);
  height: 100vh;
  font-family: Work Sans, Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--bold-definition);
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  letter-spacing: -0.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
